.menu {
  display: flex;

  &__item {
    margin-left: 35px;
  }

  &__link {
    font-family: $font-Aleo;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;

    &::after {
      @include size(0, 2px);
      // @include align(false, true, absolute);
      @include pos($l: 0);

      content: "";
      background-color: #cecfd0;
      bottom: -8px;
      transition: all 0.5s;
    }
    &:hover {
      color: #cecfd0;

      &::after {
        width: 100%;
      }
    }
  }
}
