.title {
  font-size: 36px;
  font-family: $font-Aleo;
}

.subtitle {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
}

.text {
  color: #e8e8e8;
  line-height: 26px;
}
