.why {
  background: url(../images/choose.jpg) no-repeat center center;
  background-size: cover;

  &__wrap {
    padding: 120px 0;
  }

  &__title {
    margin-top: 85px;
    margin-bottom: 50px;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__images {
    position: relative;
  }

  &__img1 {
    @include pos($l: 65px);
  }

  &__img2 {
    @include pos($r: 0, $t: 225px);
  }

  &__pic {
  }
}
